@model Product
@{
    ViewData["Title"] = @Model.Name;
    var shortSpecificationsCount = 10;
    var addSpecificationFromStart = (int count) =>
    {
        @foreach (var specification in Model.Specifications.Take(count))
        {
            <li>
                <span class="text-blue">@specification.Key:</span> @specification.Value
            </li>
        }
    };

    var addSpecificationFromEnd = (int count) =>
    {
        @foreach (var specification in Model.Specifications.TakeLast(count))
        {
            <li>
                <span class="text-blue">@specification.Key:</span> @specification.Value
            </li>
        }
    };
}

<section class="container">
    <h1>@Model.Name</h1>
    <hr class="border-brown" />

    <div class="row">
        <div class="col-4">
            <img class="product-img" src="~/img/DefaultProductImage.png" alt="@Model.Name image" />
        </div>

        <div class="col">
            <div class="row">
                <p>ID: @Model.Id</p>
            </div>
            <div class="row">
                <h3>Коротко о товаре:</h3>
                <ul class="list-unstyled">
                    @{
                        addSpecificationFromStart(shortSpecificationsCount);
                    }
                </ul>
            </div>
        </div>

        <div class="col-4 d-flex flex-column">
            <div class="product-cost text-blue mb-3 d-flex flex-column">
                @Model.Cost ₽
            </div>

            <div class="mb-3">
                <button class="btn btn-main w-100 d-flex justify-content-center align-items-center">
                    <svg class="me-2" width="30" height="30" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9996 3.375C13.952 3.375 13.0478 3.98868 12.6267 4.87616C11.6014 4.88361 10.8023 4.93068 10.089 5.20947C9.23667 5.54258 8.49536 6.10883 7.94978 6.84345C7.39938 7.58459 7.14101 8.53452 6.7854 9.84199L6.71582 10.0975L5.94672 14.5421C5.66843 14.7341 5.42672 14.9614 5.21651 15.2307C3.86526 16.9613 4.50872 19.5351 5.79564 24.6828C6.61415 27.9569 7.02341 29.5938 8.24408 30.5469C9.46475 31.5 11.1521 31.5 14.5269 31.5H21.4729C24.8478 31.5 26.5352 31.5 27.7559 30.5469C28.9764 29.5938 29.3857 27.9569 30.2043 24.6828C31.4911 19.5351 32.1346 16.9613 30.7833 15.2307C30.573 14.9612 30.331 14.7337 30.0525 14.5416L29.2835 10.0975L29.2139 9.84199C28.8582 8.53452 28.5999 7.58459 28.0495 6.84345C27.504 6.10883 26.7626 5.54258 25.9104 5.20947C25.197 4.93068 24.398 4.88361 23.3726 4.87616C22.9515 3.98868 22.0473 3.375 20.9997 3.375H14.9996ZM27.6265 13.7186L27.0846 10.5865C26.6589 9.02691 26.5044 8.53682 26.2431 8.18495C25.9494 7.78937 25.5503 7.48446 25.0913 7.3051C24.7616 7.17624 24.3631 7.13832 23.3705 7.12829C22.9485 8.01338 22.0455 8.625 20.9997 8.625H14.9996C13.9538 8.625 13.0508 8.01338 12.6288 7.12829C11.6361 7.13832 11.2377 7.17624 10.908 7.3051C10.4491 7.48446 10.0499 7.78937 9.75613 8.18493C9.49482 8.5368 9.34032 9.02691 8.91465 10.5865L8.37264 13.7187C9.86988 13.5 11.8644 13.5 14.5269 13.5H21.4729C24.1351 13.5 26.1294 13.5 27.6265 13.7186ZM12 18.375C12.6213 18.375 13.125 18.8787 13.125 19.5V25.5C13.125 26.1213 12.6213 26.625 12 26.625C11.3787 26.625 10.875 26.1213 10.875 25.5V19.5C10.875 18.8787 11.3787 18.375 12 18.375ZM25.125 19.5C25.125 18.8787 24.6213 18.375 24 18.375C23.3787 18.375 22.875 18.8787 22.875 19.5V25.5C22.875 26.1213 23.3787 26.625 24 26.625C24.6213 26.625 25.125 26.1213 25.125 25.5V19.5ZM18 18.375C18.6213 18.375 19.125 18.8787 19.125 19.5V25.5C19.125 26.1213 18.6213 26.625 18 26.625C17.3787 26.625 16.875 26.1213 16.875 25.5V19.5C16.875 18.8787 17.3787 18.375 18 18.375Z" fill="white" />
                    </svg>
                    В корзину
                </button>
            </div>
            <div class="d-flex justify-content-between">
                <button class="btn">
                    <svg class="me-2" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.8242 9.83203L27.3398 8.50781H24.9258L25.3594 9.83203H26.8242ZM27.3398 10.2656L24.9258 10.2539V10.2656C24.082 10.6992 23.5078 11.5781 23.5078 12.5859C23.5078 14.0391 24.6797 15.1992 26.1211 15.1992C27.5742 15.1992 28.7344 14.0273 28.7344 12.5859C28.7578 11.5781 28.1836 10.6992 27.3398 10.2656ZM26.2969 13.8516V14.2266H25.9336V13.8867C25.6875 13.875 25.4531 13.8047 25.3125 13.7344L25.418 13.3008C25.5703 13.3828 25.793 13.4531 26.0273 13.4531C26.2266 13.4531 26.3906 13.3711 26.3906 13.2187C26.3906 13.0781 26.2617 12.9844 26.0039 12.9023C25.6172 12.7734 25.3477 12.5859 25.3477 12.2344C25.3477 11.9062 25.582 11.6602 25.9688 11.5781V11.2383H26.332V11.5664C26.5781 11.5781 26.7422 11.625 26.8594 11.6953L26.7539 12.1172C26.6602 12.0703 26.4844 11.9883 26.2266 11.9883C25.9922 11.9883 25.9102 12.0937 25.9102 12.1875C25.9102 12.3164 26.0391 12.3867 26.3438 12.5039C26.7773 12.6563 26.9531 12.8672 26.9531 13.1836C26.9531 13.4883 26.7187 13.7695 26.2969 13.8516ZM5.71875 6.48047L6.52735 4.33594H2.63672L3.31641 6.48047H5.71875ZM6.52735 7.18359V7.17187H2.61328V7.18359C1.24219 7.88672 0.328125 9.31641 0.328125 10.957C0.328125 13.3125 2.22656 15.2109 4.58203 15.2109C6.9375 15.2109 8.83594 13.3125 8.83594 10.957C8.83594 9.31641 7.89844 7.88672 6.52735 7.18359ZM4.85156 13.0078V13.6172H4.27734V13.0547C3.86719 13.043 3.50391 12.9258 3.26953 12.8086L3.44531 12.1055C3.69141 12.2461 4.05469 12.375 4.42969 12.375C4.76953 12.375 5.00391 12.2461 5.00391 12C5.00391 11.7773 4.81641 11.625 4.38281 11.4844C3.73828 11.2617 3.30469 10.9687 3.30469 10.3945C3.30469 9.86719 3.67969 9.45703 4.3125 9.33984V8.77734H4.88672V9.30469C5.29688 9.3164 5.55469 9.39844 5.74219 9.50391L5.56641 10.1719C5.41406 10.1133 5.13281 9.97266 4.71094 9.97266C4.32422 9.97266 4.19531 10.1484 4.19531 10.3008C4.19531 10.5 4.39453 10.6289 4.91016 10.8164C5.61328 11.0625 5.90625 11.3906 5.90625 11.918C5.90625 12.4336 5.53125 12.8789 4.85156 13.0078ZM15.5508 10.043C17.2617 10.043 18.6328 8.67187 18.6328 6.96094C18.6328 5.25 17.2617 3.87891 15.5508 3.87891C13.8398 3.87891 12.4688 5.25 12.4688 6.96094C12.4688 8.67187 13.8398 10.043 15.5508 10.043ZM8.40235 18.9961H2.85938C1.05469 18.9961 0.96094 16.2539 2.89453 16.2539H7.67578L10.4531 12.1992C11.2617 11.0742 12.1992 10.5469 13.5117 10.5469H17.625C18.9375 10.5469 19.8633 11.0508 20.6836 12.1992L23.4609 16.2539H28.2891C30.2227 16.2539 30.0937 18.9961 28.3477 18.9961H22.8047C22.3711 18.9961 21.8438 18.8437 21.5273 18.375L19.4062 15.3516L19.3945 23.2383H11.8125L11.8008 15.3516L9.70312 18.375C9.36328 18.832 8.83594 18.9961 8.40235 18.9961Z" fill="#D9D9D9" />
                    </svg>
                    Сравнить
                </button>

                <button class="btn">
                    <svg class="bi bi-heart-fill card-heart-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                    </svg>
                    В избранное
                </button>
            </div>

            <a class="btn btn-main w-100 justify-content-center align-items-center mt-auto"
                href="~/"
                role="button">
                Продолжить покупки
            </a>
        </div>
    </div>

    <h2>Описание</h2>
    <hr class="border-brown"/>

    <div class="row">
        <p>@Model.Description</p>
    </div>

    <h2>Характеристики</h2>
    <hr class="border-brown" />
    <div class="row">
        @{
            var rigthColumnSpecificationsCount = Model.Specifications.Count / 2;
            var leftColumnSpecificationsCount = Model.Specifications.Count - rigthColumnSpecificationsCount;
        }
        <div class="col-6">
            <ul class="list-unstyled">
                @{
                    addSpecificationFromStart(leftColumnSpecificationsCount);
                }
            </ul>
        </div>

        <div class="col-6">
            <ul class="list-unstyled">
                @{
                    addSpecificationFromEnd(rigthColumnSpecificationsCount);
                }                
            </ul>

        </div>
    </div>

</section>


