@model IEnumerable<Product>

<section class="container flex-row">
	<div class="row">

		<div class="col-3 flex-column">
			@await Html.PartialAsync("_NavigationPanel")
		</div>

		<div class="col">
            <div class="row">
                <h2>Список продуктов</h2>
                <hr class="border-brown mb-3" />
                <a class="btn btn-main mt-auto btn-favorite-row w-100 d-flex justify-content-center align-items-center"
                   asp-area="" asp-controller="Admin" asp-action="AddProduct">
                    <span>Добавить товар</span>
                </a>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-2">Артикул</th>
                            <th scope="col" class="col-2">Изображение</th>
                            <th scope="col" class="col">Наименование</th>
                            <th scope="col" class="col-1">Цена, ₽</th>
                            <th scope="col" class="col-3">Описание</th>
                            <th scope="col" class="col-1">Опции</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr class="admin-products-row position-relative">
                                <td>@product.Article</td>
                                <td class="position-relative">
                                    <div>
                                        @{
                                            var productImageUrl = product.ImageUrl ?? "/img/DefaultProductImage.png";
                                        }
                                        <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                                            <img class="admin-products-image" src="@productImageUrl" alt="@product.Name image">
                                        </a>                                        
                                    </div>

                                </td>
                                <td>
                                    <a class="text-black" asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                                        @product.Name
                                    </a>
                                </td>
                                <td>@product.Cost</td>
                                <td>
                                    <p class="admin-product-description">
                                        @product.Description
                                    </p>
                                </td>
                                <td>
                                    <div class="dropdown d-flex align-items-stretch fill-height">
                                        <button class="btn btn-secondary dropdown-toggle d-flex align-items-center justify-content-between btn-admin-product-options"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            Опции
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li>
                                                <a class="dropdown-item text-dark"
                                                   asp-area="" asp-controller="Admin" asp-action="EditProduct" asp-route-productId="@product.Id">
                                                    Редактировать
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item text-dark"
                                                   asp-area="" asp-controller="Product" asp-action="Delete" asp-route-productId="@product.Id">
                                                    Удалить
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>              
		</div>

	</div>

</section>
