@model IEnumerable<FavoriteProductViewModel>

@foreach (var favorite in Model)
{
    var product = favorite.Product;

    <div class="row favorite-row position-relative pb-3 mb-3 ">
        <div class="col-2 d-flex justify-content-center align-content-center h-100">
            @{
                var productImageUrl = product.ImageUrl ?? "/img/DefaultProductImage.png";
            }

            <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                <img class="favorite-row-image" src="@productImageUrl" alt="@product.Name image">
            </a>
        </div>

        <div class="col-6 d-flex flex-column">
            <div class="card-text card-id">ID: @product.Article</div>

            <h5 class="card-title">
                <a class="text-black" asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">@product.Name</a>
            </h5>


            <div class="d-flex flex-grow-1 align-items-center">
                <p class="favorite-row-text">
                    @{
                        var specifications = product.Specifications.Select(spec => spec.Value);
                        var shortInfo = string.Join(", ", specifications);
                    }
                    @shortInfo
                </p>
            </div>
        </div>

        <div class="col-4 h-100 d-flex flex-column">

            <div class="row h-50">
                <h5 class="fs-4 text-blue">@product.Cost.ToString("0.##") ₽</h5>
            </div>

            <div class="row h-50 align-content-center">

                <div class="col">
                    <a class="btn btn-main mt-auto btn-favorite-row w-100 d-flex justify-content-center align-items-center addToCart"
                       asp-area="" asp-controller="Cart" asp-action="Add" asp-route-productId="@product.Id">
                        <svg class="btn-cart-icon me-2">
                            <use href="/icons/CartIcon.svg#cart-icon" />
                        </svg>
                        <span>В корзину</span>
                    </a>
                </div>

                <div class="col-3 d-flex justify-content-end align-items-center">

                    <a class="me-2 addToComparisons"
                       asp-area="" asp-controller="Comparison" asp-action="Add" asp-route-productId="@product.Id">

                        <svg class="icon-inactive favorite-row-icon favorite-row-icon--comparison">
                            <use href="/icons/ComparisonIcon.svg#comparison-icon" />
                        </svg>

                    </a>

                    <a class="align-content-center"
                       asp-area="" asp-controller="Favorite" asp-action="Delete" asp-route-favoriteId="@favorite.Id">

                        <svg class="icon-inactive favorite-row-icon">
                            <use href="/icons/TrashIcon.svg#trash-icon" />
                        </svg>

                    </a>
                </div>

            </div>
        </div>
    </div>
}