@model IEnumerable<ComparisonProductViewModel>

@foreach (var comparison in Model)
{
    var product = comparison.Product;

    <div class="itc-slider-item">
        @* Карточка *@
        <div class="card card-comparison d-flex flex-column">
            <div class="card-image-container position-relative">
                @{
                    var firstImage = product.Images.FirstOrDefault();
                    var productImageUrl = firstImage?.Url ?? "/img/DefaultProductImage.png";
                }

                @* Иконка удаления *@
                <a class="align-content-center position-absolute top-0 end-0 p-3"
                   asp-area="" asp-controller="Comparison" asp-action="Delete" asp-route-id="@comparison.Id">

                    <svg class="icon-inactive product-card-icon">
                        <use href="/icons/TrashIcon.svg#trash-icon" />
                    </svg>

                </a>

                <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                    <img class="home-card-img card-img-top" src="@productImageUrl" alt="@product.Name image">
                </a>
            </div>

            <div class="card-body d-flex flex-column flex-grow-1">
                @* Цена и иконки *@
                <div class="row mb-2">

                    <div class="col-7">
                        <h5 class="card-text text-blue">@product.Cost.ToString("0.##") ₽</h5>
                    </div>

                    <div class="col d-flex justify-content-end align-items-center">
                        <a class="me-2 addToFavorites"
                           asp-area="" asp-controller="Favorite" asp-action="Add" asp-route-productId="@product.Id">

                            <svg class="icon-inactive product-card-icon--favorite">
                                <use href="/icons/Favorite.svg#favorite-icon" />
                            </svg>

                        </a>
                    </div>

                </div>

                <div class="row mb-2">
                    <p class="card-text card-id">ID: @product.Article</p>
                </div>

                <h5 class="card-title">
                    <a class="text-black" asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">@product.Name</a>
                </h5>

                <a class="btn btn-main mt-auto btn-card-comparison w-100 d-flex justify-content-center align-items-center addToCart"
                   asp-area="" asp-controller="Cart" asp-action="Add" asp-route-productId="@product.Id">
                    <svg class="btn-cart-icon me-2">
                        <use href="/icons/CartIcon.svg#cart-icon" />
                    </svg>
                    <span>В корзину</span>
                </a>
            </div>
        </div>

        @* Характеристики *@
        <div class="d-flex flex-column">
            @foreach (var specification in product.Specifications)
            {
                <div class="d-flex flex-column ps-3 comparison-specification-cell">

                        <span class="text-blue">@specification.Key</span>
                        <span> @specification.Value</span>

                </div>
            }
        </div>
    </div> 
}