
    @model Dictionary<string, string>

@{
    var tryGetValue = (string key) =>
        {
            var value = string.Empty;
            Model?.TryGetValue(key, out value);

            return value;
        };
}

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col">
        <label for="Specifications[Manufacturer]" class="form-label">Производитель</label>
        <input type="text" class="form-control input-field"
            name="Specifications[Manufacturer]"
            value="@tryGetValue("Manufacturer")"
            required>
    </div>

    <div class="col">
        <label for="Specifications[ManufacturerCode]" class="form-label">Код производителя</label>
        <input type="text" class="form-control input-field"
            name="Specifications[ManufacturerCode]"
            value="@tryGetValue("ManufacturerCode")"
            required>
    </div>
</div>

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col-6">
        <label for="Specifications[Model]" class="form-label">Модель</label>
        <input type="text" class="form-control input-field"
            name="Specifications[Model]"
            value="@tryGetValue("Model")"
            required>
    </div>

    <div class="col-6">
        <label for="Specifications[Socket]" class="form-label">Сокет</label>
        <input type="text" class="form-control input-field"
            name="Specifications[Socket]"
            value="@tryGetValue("Socket")"
            required>
    </div>
</div>

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col-6">
        <label for="Specifications[Architecture]" class="form-label">Архитектура</label>
        <input type="text" class="form-control input-field"
            name="Specifications[Architecture]"
            value="@tryGetValue("Architecture")"
            required>
    </div>

    <div class="col-6">
        <label for="Specifications[CoresCount]" class="form-label">Кол-во ядер</label>
        <input type="text" class="form-control input-field"
            name="Specifications[CoresCount]"
            value="@tryGetValue("CoresCount")"
            required>
    </div>
</div>

<div class="row d-flex justify-content-between gx-3 mb-3">
    <div class="col-6">
        <label for="Specifications[ThreadsCount]" class="form-label">Количество потоков</label>
        <input type="text" class="form-control input-field"
            name="Specifications[ThreadsCount]"
            value="@tryGetValue("ThreadsCount")"
            required>
    </div>

    <div class="col-6">
        <label for="Specifications[ClockSpeed]" class="form-label">Тактовая частота</label>
        <input type="text" class="form-control input-field"
            name="Specifications[ClockSpeed]"
            value="@tryGetValue("ClockSpeed")"
            required>
    </div>
</div>