@model IEnumerable<CartPosition>

@foreach (var position in Model)
{
    var product = position.Product;

    <div class="row favorite-row position-relative pb-3 mb-3 ">
        <div class="col-2 d-flex justify-content-center align-content-center h-100">
            @{
                var productImageUrl = product.ImageUrl ?? "/img/DefaultProductImage.png";
            }

            <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                <img class="favorite-row-image" src="@productImageUrl" alt="@product.Name image">
            </a>
        </div>

        <div class="col-6 d-flex flex-column">
            <div class="card-text card-id">ID: @product.Article</div>

            <h5 class="card-title">
                <a class="text-black" asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">@product.Name</a>
            </h5>

            <div class="d-flex flex-grow-1 align-items-center">
                <p class="favorite-row-text">
                    @{
                        var specifications = product.Specifications.Select(spec => spec.Value);
                        var shortInfo = string.Join(", ", specifications);
                    }
                    @shortInfo
                </p>
            </div>
        </div>

        <div class="col h-100 d-flex flex-column">

            <div class="row h-50 d-flex align-items-center">
                <h5 class="fs-4 text-blue">@position.Cost ₽</h5>
            </div>

            <div class="row h-50 align-content-center">

                <div class="col-6 d-flex flex-row">

                    <div class="col-3 d-flex justify-content-center align-items-center">
                        <a class="btn btn-main w-100 d-flex justify-content-center align-items-center"
                            asp-area="" asp-controller="Cart" asp-action="Decrease" asp-route-positionId="@position.Id" role="button">
                            -
                        </a>
                    </div>

                    <span class="col d-flex justify-content-center align-items-center">
                        @position.Quantity
                    </span>

                    <div class="col-3 d-flex justify-content-center align-items-center">
                        <a class="btn btn-main w-100 d-flex justify-content-center align-items-center"
                            asp-area="" asp-controller="Cart" asp-action="Increase" asp-route-positionId="@position.Id" role="button">
                            +
                        </a>
                    </div>

                </div>

                <div class="col d-flex justify-content-end align-items-center">

                    <a class="bi bi-heart-fill text-inactive cart-position-icon me-2"
                       asp-area="" asp-controller="Favorite" asp-action="Add" asp-route-productId="@product.Id">
                    </a>

                    <a class="bi bi-file-earmark-bar-graph-fill text-inactive cart-position-icon me-2"
                       asp-area="" asp-controller="Comparison" asp-action="Add" asp-route-productId="@product.Id">
                    </a>

                    <a class="bi bi-trash-fill trash-icon align-content-center cart-position-icon me-2"
                       asp-area="" asp-controller="Cart" asp-action="DeletePosition" asp-route-positionId="@position.Id">
                    </a>
                </div>

            </div>
        </div>
    </div>
}