@model Cart
@{
    ViewData["Title"] = "Корзина";
}

<div class="container">
    <div class="row">
        <div class="col-9">
            <section>
                <div class="d-flex justify-content-between">
                    <div class="col-6">
                        <h2>Корзина</h2>
                    </div>
                    <span class="col-6 d-flex align-content-center justify-content-end">
                        <a class="bi bi-trash-fill trash-icon align-content-center"
                           asp-area="" asp-controller="Cart" asp-action="Delete">
                        </a>
                    </span>
                </div>

                <hr class="border-brown" />
                @{
                    if (Model is null)
                    {
                        <p>Корзина пуста</p>
                        return;
                    }
                    <div class="container p-0 m-0">
                        <div class="row">
                            <div class="col">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Наименование</th>
                                            <th scope="col" class="text-center w-15">Количество</th>
                                            <th scope="col" class="text-center w-15">Стоимость, ₽</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        @{
                                            foreach (var position in Model.Positions)
                                            {
                                                var positionUrl = Url.Action("Index", "Product", new { id = position.Product.Id });

                                                <tr class="clickable-row" onclick="window.location.href='@positionUrl'">
                                                    <td>@position.Product.Name</td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <div class="col-3">
                                                                <a class="btn btn-main w-100"
                                                                   asp-area="" asp-controller="Cart" asp-action="Decrease" asp-route-positionId="@position.Id" role="button">
                                                                    -
                                                                </a>
                                                            </div>
                                                            <span class="col text-center align-content-center">
                                                                @position.Quantity
                                                            </span>
                                                            <div class="col-3">
                                                                <a class="btn btn-main w-100"
                                                                   asp-area="" asp-controller="Cart" asp-action="Increase" asp-route-positionId="@position.Id" role="button">
                                                                    +
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">@position.Cost</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </section>
            @* Секция с оформлением заказа *@
            <section>
                <h2>Оформление заказа</h2>
                <hr class="border-brown" />

                <form method="post" id="orderForm" asp-controller="Order" asp-action="Register">
                    <h5>Город доставки</h5>
                    <div class="mb-3 col-6" >                        
                        <input type="text" class="form-control input-field" name="City" required>
                    </div>

                    <h5>Адрес доставки</h5>
                    <div class="mb-3">                        
                        <input type="text" class="form-control input-field" name="Adress" placeholder="Адрес*" required>
                    </div>

                    <div class="row d-flex justify-content-between gx-3 mb-3">
                        <div class="col">
                            <input type="number" class="form-control input-field" name="Entrance" placeholder="Подъезд">
                        </div>

                        <div class="col">
                            <input type="number" class="form-control input-field" name="Floor" placeholder="Этаж">
                        </div>

                        <div class="col">
                            <input type="number" class="form-control input-field" name="Apartament" placeholder="Квартира(офис)">
                        </div>

                        <div class="col">
                            <input type="number" class="form-control input-field" name="Index" placeholder="Индекс*" required>
                        </div>
                    </div>

                    <h5>Контактные данные</h5>
                    <div class="row d-flex justify-content-between gx-3 mb-3">
                        <div class="col">
                            <input type="text" class="form-control input-field" name="FullName" placeholder="ФИО*" required>
                        </div>

                        <div class="col">
                            <input type="email" class="form-control input-field" name="Email" placeholder="Email*" required>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-between gx-3 mb-3">
                        <div class="col">
                            <input type="text" class="form-control input-field" name="Phone" placeholder="Телефон*" required>
                        </div>

                        <div class="col">
                            <input type="text" class="form-control input-field" name="ReservePhone" placeholder="Телефон (дополнительный)">
                        </div>
                    </div>

                    <h5>Дополнительная информация</h5>
                    <div class="mb-3 border-main">
                        <textarea class="form-control" name="AdditionalInfo" rows="5"></textarea>
                    </div>

                    <p>Поля с * - обязательны к заполнению</p>
                </form>
            </section>
        </div>

        @* Блок с итоговой стоймостью и кнопкам *@
        <div class="col-3 position-relative">
            <h4 class="text-center">Ваш заказ</h4>
            <div class="border-1 border-brown p-3 sticky-top">
                <div class="d-flex justify-content-between">
                    <p>Ваши товары (@Model.Positions.Sum(p => p.Quantity))</p>
                    <span>@Model.TotalCost ₽</span>
                </div>
                <hr class="border-brown" />

                <div class="d-flex justify-content-between">
                    <p class="h5">Итого к оплате:</p>
                    <span class="h5">@Model.TotalCost ₽</span>
                </div>

                <button class="btn btn-main w-100 mb-3" type="submit" form="orderForm">
                    Оформить заказ
                </button>
                <a class="btn btn-main w-100"
                   asp-area="" asp-controller="Home" asp-action="Index" role="button">
                    Продолжить покупки
                </a>
            </div>
        </div>
    </div>    
</div>





