@model Cart
@{
    ViewData["Title"] = "Корзина";
}

<section class="container">
    <h1>Корзина</h1>
    <hr class="border-brown" />
        @{
            if (Model is null)
            {
                <p>Корзина пуста</p>
                return;
            }
            <div class="container">
                <div class="row">
                    <div class="col-9">
                    <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Наименование</th>
                                    <th scope="col" class="text-center">Количество</th>
                                    <th scope="col" class="text-center">Стоимость, ₽</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            @{
                                foreach (var position in Model.Positions)
                                {
                                    <tr>
                                        <td>
                                            <a class="text-black cart-position-title" asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@position.Product.Id">
                                                @position.Product.Name
                                            </a>
                                        </td>
                                        <td class="text-center">@position.Quantity</td>
                                        <td class="text-center">@position.Cost</td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-3">
                        <h4 class="text-center">Ваш заказ</h4>
                        <div class="border-1 border-brown p-3">
                            <div class="d-flex justify-content-between">
                                <p>Ваши товары (@Model.Positions.Sum(p => p.Quantity))</p>
                            <span>@Model.TotalCost ₽</span>
                            </div>
                            <hr class="border-brown" />

                        <div class="d-flex justify-content-between">
                            <p class="h5">Итого к оплате:</p>
                            <span class="h5">@Model.TotalCost ₽</span>
                        </div>

                        <button class="btn btn-main w-100 mb-3">
                            Оформить заказ
                        </button>
                        <a class="btn btn-main w-100"
                           asp-area="" asp-controller="Home" asp-action="Index" role="button">
                            Продолжить покупки
                        </a>
                        </div>
                    </div>
                </div>                
            </div>          
        }
</section>


