<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShopWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineShopWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        @* Верхняя навигационня панель *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <div class="container">
                <div class="col-auto">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/icons/Logo.svg" alt="PC DREAM Logo" />
                    </a>
                </div>

                @* Гамбургер для mobile по умолчанию.
                TODO: В конце курса исправить
                *@
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between col">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Магазины</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Доставка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                        </li>
                        <li class="nav-item admin-link">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Администратор</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @* Нижняя навигационная панель. Вынесена из header для создания эффекта "прилипания" при прокрутке*@
    <nav class="navbar sticky-top bg-body-tertiary navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
        <div class="container d-flex align-items-center search-container">
            <div class="row gx-3 w-100 fill-height">
                @* Кнопка каталога *@
                <div class="dropdown d-flex align-items-stretch col-auto fill-height">
                    <button class="btn btn-secondary dropdown-toggle d-flex align-items-center justify-content-between btn-catalog"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Каталог
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30 2H2V6H30V2Z" fill="white" />
                            <path d="M2 10H30V14H2V10Z" fill="white" />
                            <path d="M30 18H2V22H30V18Z" fill="white" />
                            <path d="M22 26H2V30H22V26Z" fill="white" />
                        </svg>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item text-dark"
                            asp-area="" asp-controller="Product" asp-action="All"> Все товары</a></li>
                        <li>
                            <a class="dropdown-item text-dark"
                            asp-area="" asp-controller="Product" asp-action="Category" asp-route-category="@ProductCategories.GraphicCards">
                                Видеокарты
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-dark"
                            asp-area="" asp-controller="Product" asp-action="Category" asp-route-category="@ProductCategories.Processors">
                                Процессоры
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-dark"
                            asp-area="" asp-controller="Product" asp-action="Category" asp-route-category="@ProductCategories.Motherboards">
                                Материнские платы
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-dark"
                            asp-area="" asp-controller="Product" asp-action="Category" asp-route-category="@ProductCategories.SSD">
                                SSD
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-dark"
                            asp-area="" asp-controller="Product" asp-action="Category" asp-route-category="@ProductCategories.HDD">
                                HDD
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-dark"
                            asp-area="" asp-controller="Product" asp-action="Category" asp-route-category="@ProductCategories.RAM">
                                Оперативная память
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-dark"
                            asp-area="" asp-controller="Product" asp-action="Category" asp-route-category="@ProductCategories.PowerSupplies">
                                Блоки питания
                            </a>
                        </li>
                    </ul>
                </div>

                @* Поиск *@
                <div class="col fill-height">
                    <div class="input-group col fill-height">
                        <input type="text"
                               class="form-control border-brown"
                               placeholder="Введите названние товара или ID"
                               aria-label="Введите названние товара или ID">
                        <button class="btn btn-outline-secondary border-brown" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>

                @* Иконки *@
                <div class="col-5 d-flex align-items-center fill-height">

                    <a class="col-3 d-flex align-items-center flex-column fill-height" href="#">
                        <span class="bi bi-heart-fill text-blue nav-icon"></span>
                        <span class="text-black">Избранное</span>
                    </a>

                    <a class="col-3 d-flex align-items-center flex-column fill-height" href="#">
                        <span class="bi bi-file-earmark-bar-graph-fill text-blue nav-icon"></span>
                        <span class="text-black">Сравнение</span>
                    </a>

                    <a class="col-3 d-flex align-items-center flex-column fill-height"
                       asp-area="" asp-controller="Cart" asp-action="Index">
                        <span class="bi bi-basket-fill text-blue nav-icon"></span>
                        <span class="text-black">Корзина</span>
                    </a>

                    <a class="col-3 d-flex align-items-center flex-column fill-height" href="#">
                        <span class="bi bi-person-fill text-blue nav-icon"></span>
                        <span class="text-black">Кабинет</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mb-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted">
        <div class="container d-flex flex-column">
            <div class="row">
                @* @* Навигационня панель для footer'a *@
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
                    <div class="col-auto">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/icons/Logo.svg" alt="PC DREAM Logo" />
                        </a>
                    </div>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between col">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">О нас</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Магазины</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Доставка</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <img src="~/icons/vk.svg" alt="vk" />
                        <img src="~/icons/telegramm.svg" alt="telegramm" />
                        <img src="~/icons/youtube.svg" alt="youtube" />
                    </div>
                </nav>
            </div>
            <div class="row ps-2">
                &copy; 2024 - PC DREAM. Все права защищены.
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
