@model List<UserViewModel>

<section class="container flex-row">
    <div class="row">

        <div class="col-3 flex-column">
            @await Html.PartialAsync("_NavigationPanel")
        </div>

        <div class="col">
            <div class="row">
                <h2>Список пользователей</h2>
                <hr class="border-brown mb-3" />

                <div class="d-flex">
                    <div class="col-6 me-3">
                        <a class="btn btn-main mt-auto w-100 d-flex justify-content-center align-items-center"
                           asp-area="Admin" asp-controller="User" asp-action="Add">
                            <span>Добавить пользователя</span>
                        </a>
                    </div>

                    <div class="col-6">
                        <a class="btn btn-main mt-auto w-100 d-flex justify-content-center align-items-center"
                           asp-area="Admin" asp-controller="User" asp-action="ExportToExcel">
                            <span>Выгрузить в Excel</span>
                        </a>
                    </div>
                </div>

            </div>

            @if (@Model.Count != 0)
            {
                <div class="row">
                    <table class="table table-hover text-center  align-middle">
                        <thead>
                            <tr>
                                <th scope="col" class="col-1">#</th>
                                <th scope="col" class="col">Email</th>
                                <th scope="col" class="col">Имя</th>
                                <th scope="col" class="col">Телефон</th>
                                <th scope="col" class="col">Роль</th>
                                <th scope="col" class="col-2">Подробнее</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                var user = Model[i];
                                var position = i + 1;

                                <tr>
                                    <td>
                                        @position
                                    </td>
                                    <td>@user.Email</td>
                                    <td>@user.FullName</td>
                                    <td>@user.PhoneNumber</td>
                                    <td>@user.RoleName</td>
                                    <td>
                                        <a class="btn btn-main justify-content-center align-items-center mt-auto"
                                           asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-id="@user.Id" role="button">
                                            Подробнее
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>

    </div>

</section>
